<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SPLUG OPEN</title>
    <!-- Bootstrap core CSS-->
    <link href="/open_home_resource/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/open_home_resource/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/open_home_resource/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/open_home_resource/css/sb-admin.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="/open_home">SPLUG OPEN</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="/open_home">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">HOME</span>
          </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="공지사항">
                    <a class="nav-link" href="/open_home/noti">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">공지사항</span>
            
          </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="게시판">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">게시판</span>
          </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a href="/open_home/free">자유게시판</a>
                        </li>

                        <li>
                            <a href="/open_home/lecture">강의</a>
                        </li>
                        <li>
                            <a href="/open_home/armi">군인게시판</a>
                        </li>

                        <li>
                            <a href="/open_home/gaein_project">개인 프로젝트</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="/open_home/photo">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Photo</span>
          </a> </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" id="user_name">
            <i class="fa fa-fw fa-sign-out"></i><%=user_name%></a>
                </li>
            </ul>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw "></i>로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">
                    <a href="/open_home/">OPEN SPLUG</a>
                </li>
            </ol>


            <div class="row">
                <div class="col-lg-8">

                    <div class="mb-0 mt-4">
                        <i class="fa fa-newspaper-o"></i> News Feed</div>
                    <hr class="mt-2">
                    <div class="card-columns">
                        <!-- Example Social Card-->

                        <!-- Example Social Card-->
                        <%
                        if(rows!=null&&rows.length>0)
                        for (var i =0 ;i<rows.length;i++ ){
                            
                        
                            %>
                            <div class="card mb-3">
                                <a href="#">
                <img class="card-img-top img-fluid w-100" src="/open_home/img/<%=rows[i].no%>/<%=rows[i].filename[0]%>" alt="">
              </a>
                                <div class="card-body">
                                    <h6 class="card-title mb-1">
                                        <a href="#">

                                            <%=rows[i].name%>
                                        </a>
                                    </h6>
                                    <p class="card-text small">
                                        <%=rows[i].text%>
                                    </p>
                                </div>
                                <hr class="my-0">
                                <div class="card-body py-2 small">
                                    <a class="mr-3 d-inline-block" href="#">
                  <i class="fa fa-fw fa-thumbs-up"></i>Like</a>
                                    <a class="mr-3 d-inline-block comment" href="#" id="comment_<%=rows[i].no%>">
                  <i class="fa fa-fw fa-comment" ></i>Comment</a>
                                    <a class="d-inline-block" href="#">
                  <i class="fa fa-fw fa-share"></i>Share</a>
                                </div>
                                <hr class="my-0">
                                <div class="card-body small bg-faded">
                                <!--    <div class="media">
                                            <img class="d-flex mr-3" src="http://placehold.it/45x45" alt="">
                                        <div class="media-body">
                                            <h6 class="mt-0 mb-1"><a href="#">Jessy Lucas</a></h6>Where did you get that camera?! I want one!
                                            <ul class="list-inline mb-0">
                                                <li class="list-inline-item">
                                                    <a href="#">Like</a>
                                                </li>
                                                <li class="list-inline-item">·</li>
                                                <li class="list-inline-item">
                                                    <a href="#">Reply</a>
                                                </li>
                                            </ul>
                                        </div
                                    </div>-->
                                </div>


                            </div>
                            <%}%>
                                <!-- Example Social Card-->

                                <!-- Example Social Card-->
                    </div>
                    <!-- /Card Columns-->
                </div>

            </div>
            <!-- Example DataTables Card-->

        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © SPLUG 2017</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">로그아웃?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
                    </div>
                    <div class="modal-body">로그아웃 하시겠어요?</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                        <a class="btn btn-primary" href="/process/logout">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="/open_home_resource/vendor/jquery/jquery.min.js"></script>
        <script src="/open_home_resource/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="/open_home_resource/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="/open_home_resource/vendor/chart.js/Chart.min.js"></script>
        <script src="/open_home_resource/vendor/datatables/jquery.dataTables.js"></script>
        <script src="/open_home_resource/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="/open_home_resource/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="/open_home_resource/js/sb-admin-datatables.min.js"></script>
        <script src="/open_home_resource/js/sb-admin-charts.min.js"></script>
        <script>
            $('.comment').on("click", function() {
                var usersid = $(this).attr("id");
                alert(usersid);
                //post code
            })

        </script>
    </div>
</body>

</html>
