<!DOCTYPE html>
<html>

<head>
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <title>
        <%=row[0].title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SPLUG OPEN</title>
    <!-- Bootstrap core CSS-->
    <link href="/open_home_resource/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="/open_home_resource/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Page level plugin CSS-->
    <link href="/open_home_resource/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/open_home_resource/css/sb-admin.css" rel="stylesheet">
</head>

<body  class="fixed-nav sticky-footer bg-dark" id="page-top">
    <h1>
        <%= row[0].title  %>
    </h1>


    <table border="1">
        <tr>
            <td>작성자</td>
            <td>
                <%=row[0].name%>
            </td>

        </tr>
        <tr>
            <td>제목</td>
            <td>
                <p>
                    <%=row[0].title%>
                </p>
            </td>
        </tr>
        <tr>

            <td>내용</td>
            <td>
                <p>
                    <%=row[0].text%>
                </p>
            </td>
        </tr>
        <tr>
            <td>첨부파일</td>
        </tr>

        <a href="/board/"> 목록으로  </a>
    </table>
</body>

</html>
