<!DOCTYPE html>
<html>

<head>
    <script src="/javascripts/jquery-1.11.2.min.js"></script>
    <title>
        <%=row[0].title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="vendor/jquery/jquery.min.js"></script>

</head>

<body>
    <h1>
        <%= row[0].title  %>
    </h1>


    <table border="1">
        <tr>
            <td>작성자</td>
            <td>
                <%=row[0].creator_id%>
            </td>
        </tr>
        <tr>
            <td>제목</td>
            <td>
                <p>
                    <%=row[0].title%>
                </p>
            </td>
        </tr>
        <tr>

            <td>내용</td>
            <td>
                <p id="contents">
                    <%=
                    row[0].contents;
                    %>
                </p>
            </td>
        </tr>

        <script>
            var str = document.getElementById("contents").innerHTML;
            str = str.replace(/&lt;/g, "<");
            str = str.replace(/&gt;/g, ">");
            document.getElementById("contents").innerHTML = str;

        </script>



        <tr>
            <td>첨부파일</td>
        </tr>
        <%
        if(files!=null)
     for(var i=0; i<files.length; i++)
     {
        var oneItem = files[i];
%>
            <tr>
                <td><a href=/board/download/<%=row[0].idx%>/<%=oneItem%>> <%=oneItem%>  </a></td>
            </tr>
            <%
     }
%>

                <a href="/board/"> 목록으로  </a>
    </table>
</body>

</html>
